# Blacklist everything by default
*
*/

# Whitelist only the main project files
!Get-OpenDrsRecommendation.ps1
!Invoke-OpenDrsMigration.ps1
!Pipeline-Example.ps1
!README.md

# Make sure to include this gitignore file itself
!.gitignore
